body {
    margin: 0;
    text-align: center;
  }
h1 {
    margin-top: 0;
    font-family: 'Homemade Apple', cursive;
    color:rgb(224, 222, 213);
    font-size: 3.5em;
}
h2 {
    font-family: 'Pangolin', cursive;
    color:rgb(224, 222, 213);
    font-size: 2em;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color:rgb(224, 222, 213);
}
hr {
    border-top: dotted rgb(255, 255, 255) 15px;
    border-bottom: none;
    width: 65%;
    margin: 70px auto 70px auto;
}
ul {
    list-style: none;
}
dl {
    padding-left: 40px;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
}
dt {
    display: flex;
    width: 40%;
}
dd {
    display: flex;
    margin-left: auto;
    width: 60%;
}
/* LINKS */
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color:rgb(153, 150, 139);
}
a:hover {
    color: #ff0000;
    text-decoration: none;
}
a:active {
    color: #61764B;
    text-decoration: none;
}
a.contact:link, a.contact:visited {
    font-family: 'Pangolin', cursive;
    color: rgb(224, 222, 213);
    font-size: 1.3em;
    background-color: #274c43;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100%;
}
a.contact:hover, a.contact:active {
    background-color: #61764B;
}

/* DIVISIONS */
.top {
    background-color: #274c43;
    position: relative;
    padding: 5px;
    margin: 50px auto 50px auto;
}
.middle {
    background-color: rgb(224, 222, 213);
    padding: 10px;

}
.bottom {
    background-color: #386E61;
    padding: 10px;
    border-top: solid 5px;
    border-color: #274c43;
}
/* IMAGES */
.headshot {
    position: relative;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sun {
    position: absolute;
    top: 1px;
    right: 1px;
    opacity: 0.6;
}
.apple {
    top: 300px;
    left: 80px;
    position: absolute;
}
.computer {
    float: center;
}
.border {
    position: absolute;
    left: 0px;
    top: 800px;
    width: 100%;
}
/* COLUMNS */
.row {
    width: 100%;
    margin: 0 auto;
}
.column {
    display: inline-block; /*allows columns to be side by side*/
}
.left1 {
    margin: 30px auto 30px auto;
    float: left;
    width: 35%;
    height: 185px;
    background-color: rgb(224, 222, 213);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}
.right1 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    margin: 80px auto 50px auto;
    width: 65%;
    height: 185px;
    background-color: rgb(224, 222, 213);
}
.clear1 {
    clear: both;
}
.left2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
    float: left; /* !!!!! REVIEW !!!!!!! */
    margin: 27px auto 30px auto;
    width: 65%;
    height: 250px;
    background-color: rgb(224, 222, 213);
}
.right2 {
    background-color: rgb(224, 222, 213);
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
    width: 35%;
    height: 310px;
}
.clear2 {
    clear: both;
}

.left3 {
    float: left;
    width: 35%;
    height: 300px;
    background-color: rgb(224, 222, 213);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}
.right3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    margin: 25px auto 30px auto;
    width: 65%;
    height: 250px;
    background-color: rgb(224, 222, 213);
}
.clear3 {
    clear: both;
}
/* CONTACT */
.contacttop {
    background-color: #274c43;
    padding: 200px;
}
.card {
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    font-size: 1.2em;
    background-color: rgb(224, 222, 213);
    padding: 15px;
    width: 60%;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textarea {
    resize: none;
    width: 70%;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
}
